@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Avenir', 'Arial', 'Helvetica', sans-serif;
    font-display: swap;
}

.main-area a {
    @apply text-blue-500 duration-100 transition-all;
    @apply hover:text-blue-800;
}

.theme-light {
    --background: #f8f8f8;
    --text: #313131;
}

.theme-dark {
    --background: #313131;
    --text: #f8f8f8;
}